<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yiwu.order_center_server.dao.PersonBillDao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.yiwu.order_center_client.personBill.domain.PersonBill" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="type" column="type"/>
        <result property="subType" column="sub_type"/>
        <result property="money" column="money"/>
        <result property="relationId" column="relation_id"/>
        <result property="isDel" column="is_del"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>