server:
  port: 8001

spring:
  application:
    name: order-center
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/order-center?autoReconnect=true&useUnicode=true&characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull&serverTimezone=GMT%2B8&useSSL=false&allowMultiQueries=true
    username: root
    password:
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      minimum-idle: 5
      maximum-pool-size: 15
      auto-commit: true
      idle-timeout: 30000
      pool-name: betaHikariCP
      max-lifetime: 1800000
      connection-timeout: 30000
      connection-test-query: select 1
    mvc:
      date-format: yyyy-MM-dd HH:mm:ss
    #    基于feign的接口调用，会生成很多{serverName}.FeignClientSpecification类的bean，
    main:
      allow-bean-definition-overriding: true
  jackson:

    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
#    serialization: true

  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin
    virtual-host: /
  redis:
    host: localhost
    port: 6379
    password: 123456
    database: 0
    lettuce:
      pool:
        max-active: 5
        max-idle: 5



mybatis:
  mapper-locations: classpath:mapper/*Mapper.xml
  type-handlers-package: com.yiwu.order_center_server.common.handler
  configuration:
    map-underscore-to-camel-case: true
logging:
  config: classpath:log4j2-spring.xml
  level:
    cn.jay.repository: debug
pagehelper:
  reasonable: true
  support-methods-arguments: true